* {
    margin: 20px;
    padding: 20px;
    line-height: 1.5px;
}

.wrapper {
    display: flex;
    background-color: rgb(9, 9, 44);
    color: white;
}

h1 {
    font-size: 50px;
    color: rgb(224, 217, 176);
    text-align: center;
}

.startQuiz {
    background-color: rgb(212, 123, 6);
    height: 20px;
    width: 100px;
}